.folder{
    font-size: 100px;
    text-align: center;
    color: #757575;
}
.dropdown-toggle::after{
    display: none;
}
.head{
    text-align: center;
}
.head a{
    padding: 3px 5px;
    text-shadow: 1px 1px 5px #989797a3;
}
.fa-folder-o{
    text-shadow:1px 1px 10px #88878738;
}