<div class="row">
  <div class="col-md-3 pl-0" >
      <div class="card waves-effect">
            <div class="card-body">
              <a routerLink="/dapp/brokinghouse/teambuilding">
                <div class="row">
                    <div class="col-6">
                        <img class="card-img-top" src="assets/images/databank.png" alt="Card image cap">
                    </div>
                    <div class="col-6 pt-4">
                        <span> Team Building</span>
                    </div>
                  </div>
              </a>
            </div>
        </div>
  </div>
  <div class="col-md-3 pl-0" >
      <div class="card waves-effect">
            <div class="card-body">
                <a routerLink="/dapp/brokinghouse/projectmanagement">
                  <div class="row">
                    <div class="col-6">
                      <img class="card-img-top" src="assets/images/datarequest.jpg" alt="Card image cap">
                    </div>
                    <div class="col-6 pt-4">
                      <span> Project Management</span>
                    </div>
                  </div>
                </a>
            </div>
        </div>
  </div>
  
</div>
