
 <div *ngIf="isLoading" class="overlay">
   <em class="loadTitle">Loading...</em>
    <div class="spinner-grow" role="status">
      <span class="sr-only"></span>
    </div>
</div>

  
<a class="adddbank" data-toggle="tooltip" title="Add New Data Bank" (click)="createDBModal()">
<i class="fa fa-plus"></i>
</a>
<div class="row"  *ngIf="databanks.length">
  <div class="col-md-3 pl-sm-auto pl-md-0 mt-2" *ngFor="let databank of databanks">
      <div class="card" >
          <div class="disp-f-r">
              <h4 class="card-title float-left waves-effect"> 
                <a (click)="openDataBank(databank)">{{databank.dataBankName}} </a>
              </h4>
              <div class="float-right dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-ellipsis-v">
                    </i></a>
                  <div class="dropdown-menu dropdown-menu-right dropdown-primary">
                    <a class="dropdown-item" (click)="renameDBModal(databank.dataBankName)">Rename</a>
                    <a class="dropdown-item"(click)="openDataBank(databank)">Details</a>
                    <a class="dropdown-item" (click)="deleteDBModal(databank.dataBankName)">Delete</a>
                  </div>
                </div>
            </div>
          <a (click)="openDataBank(databank)">
          <!-- <img class="card-img-top" src="{{databank.imgUrl}}" alt="Card image cap"> -->
            <div class="card-body pt-0">
              <hr>
                <img class="card-img-top" src="assets/images/databankinfo.png" alt="Card image cap">            
          </div>
          <div class="card-footer text-muted text-center">
              <p class="text-info card-text">Created : {{databank.created}}</p>
              <p class="text-info card-text">Modified : {{databank.updated}}</p>
            </div>
        </a>
    </div>
  </div>
</div>

<div class="row">
    <div class="col-md-3 pl-sm-auto pl-md-0 mt-2" *ngIf="!databanks.length" >
        <div class="card">
            <h4 class="card-title p-2"> 
                <b>You Don't Have Any Data Bank.</b></h4>
            <img class="card-img-top" src="https://www.georges.com.sg/skin/images/no_products_found.png" alt="Card image cap">
              <div class="card-body">
              <div class="text-center">
                  <p class="card-text">Create New Data Bank</p>
                </div>
            </div>
            <div class="card-footer text-muted text-center">
                <a (click)="createDBModal()"><i class="fa fa-plus fa-4x text-success"></i></a>
             </div>
          </div>
        
    </div>
</div>

  <div class="modal fade" id="renameOrCreateModal" tabindex="-1" role="dialog" 
    aria-hidden="true">
    <div class="modal-dialog modal-notify modal-success" role="document">
      <div class="modal-content text-center">
        <div class="modal-header d-flex justify-content-center">
          <p class="heading">{{craeteOrRenameDataBankbtn}} Data Bank</p>
        </div>
        <div class="modal-body">
          <i class="fa fa-database fa-4x animated fadeIn"></i>
          <div class="md-form">
              <input name="databankname" type="text" id="inputdm" [(ngModel)]="dataBankName"
              (keypress)="dataBankNameKeyPress($event)" autofocus (keyup)="dataBankNameKeyUp($event)" class="form-control">
              <label for="inputdm">Data Bank Name</label>
          </div>
          <p class="text-info font-weight-normal">The data bank name should be at-least 5 characters long, It should not contains special charecters,
              It must not be start with number.</p>
            <p class="text-danger">{{errorName}}</p>
        </div>
        <div class="modal-footer flex-center">
            <button id="createDBbtn" class="btn btn-sm btn-success btn-rounded waves-effect" [disabled]="loading" type="button" (click)="craeteOrRenameDataBank()">
                <span class="spinner-border-sm" [ngClass]="{'spinner-border': craeteOrRenameDataBankbtn === 'Loading..' }" role="status" aria-hidden="true"></span>
                {{craeteOrRenameDataBankbtn}}
              </button>
          <a type="button" class="btn btn-sm  btn-danger btn-rounded waves-effect" data-dismiss="modal">Cancel</a>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="deleteDBModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
      <div class="modal-content text-center">
        <div class="modal-header d-flex justify-content-center" style="background-color: #ff3547;">
          <p class="heading">Are you sure?</p>
        </div>
        <div class="modal-body">
          <p class="text-warning">Are you sure you want to delete this item?</p>
          <i class="fas fa-times fa-4x animated fadeIn  "></i>
        </div>
        <div class="modal-footer flex-center">
            <button class="btn btn-sm btn-outline-danger btn-rounded waves-effect" [disabled]="loading" type="button" (click)="deleteConfirm()">
                <span class="spinner-border-sm" [ngClass]="{'spinner-border': craeteOrRenameDataBankbtn === 'Deleteing..' }" role="status" aria-hidden="true"></span>
                {{craeteOrRenameDataBankbtn}}
              </button>
          <a type="button" class="btn btn-sm  btn-danger btn-rounded waves-effect" data-dismiss="modal">No</a>
        </div>
      </div>
    </div>
  </div>
<a id="createInfo" onclick="toastr.success('Data Bank Created Successfully !!');"></a>
<a id="renameInfo" onclick="toastr.success('Data Bank Created Successfully !!');"></a>
<a id="deleteInfo" onclick="toastr.warning('Data Bank Deleted Successfully !!');"></a>




