.spinner-border-sm{
    margin-right: 5px;
}
.modal-row{
    width: 100%;
    margin: 2px 10px;
}
.classic-tabs .nav.tabs-primary li a.active {
    border-color: #383986;
}
.classic-tabs .nav li:first-child{
    margin-left: 10px;
}
.classic-tabs .nav{
    padding: 0 20px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}
.classic-tabs .tab-content.card{
    padding: 20px 20px !important;
}
.sold-table{
    width: 100%;
    overflow: auto;
}
.classic-tabs{
    width: 100%;
}
// label em {
//     color: rgb(248, 76, 76);
// }