<div class="row">
        <div class="col-md-3 pl-sm-auto pl-md-0 mt-2">
            <div class="card">
                  <div class="card-body waves-effect">
                    <a class="text-info" routerLink="/dapp/lead-management/leads">
                      <div class="row">
                          <div class="col-6">
                              <img class="card-img-top" src="assets/images/lead.png" alt="Card image cap">
                          </div>
                          <div class="col-6 pt-4 mpading">
                              <span  class="text-info"> Leads</span>
                          </div>
                        </div>
                    </a>
                  </div>
              </div>
            </div>
      </div>