<!-- <div class="row">
  <div class="col-md-3 pl-0" >
      <div class="card waves-effect">
            <div class="card-body">
              <a routerLink="/dapp/datamanagement/databank">
                <div class="row">
                    <div class="col-6">
                        <img class="card-img-top" src="assets/images/databank.png" alt="Card image cap">
                    </div>
                    <div class="col-6 pt-4">
                        <span> Data Bank</span>
                    </div>
                  </div>
              </a>
            </div>
        </div>
  </div>
  <div class="col-md-3 pl-0" >
      <div class="card waves-effect">
            <div class="card-body">
                <a routerLink="/dapp/datamanagement/datarequest">
                  <div class="row">
                    <div class="col-6">
                      <img class="card-img-top" src="assets/images/datarequest.jpg" alt="Card image cap">
                    </div>
                    <div class="col-6 pt-4">
                      <span> Data Request</span>
                    </div>
                  </div>
                </a>
            </div>
        </div>
  </div>
  <div class="col-md-3 pl-0" >
    <div class="card waves-effect">
          <div class="card-body">
                  <a routerLink="/dapp/datamanagement/shareddata">
                    <div class="row">
                        <div class="col-6">
                            <img class="card-img-top" src="assets/images/sharedata.png" alt="Card image cap">
                        </div>
                        <div class="col-6 pt-4">
                            <span> Share Data</span>
                        </div>
                      </div>
                 </a>
          </div>
      </div>
</div>
</div> -->
<router-outlet></router-outlet>